@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*
    responsividade
    320px — 480px: dispositivos móveis
    481px — 768px: iPads, tablets
    769px — 1024px: telas pequenas, laptops
    1025px — 1200px: desktops, telas grandes
    1201px e acima —  telas muito grandes, TVs
*/

@media (min-width: 1025px) {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/*skip to main content button - https://www.freecodecamp.org/news/how-to-add-skip-to-main-content-links-to-a-website/#:~:text=The%20skip%2Dto%2Dmain%2Dcontent%20link%20is%20an%20ordinary,content%20on%20the%20web%20page.*/
.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.4)
}

.skip-to-main-content-link:focus {
  left: 0;
  transform: translateX(20%);
  opacity: 1;
}

/* header and banner */

#main {
  background-image: url("reynisfjara.png");
}

#norway {
  background-image: url("https://res.cloudinary.com/dlsuopwkn/image/upload/v1672413298/norway_banner.jpg");
}

.style_header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* vai deixar a imagem cobrindo a tela toda*/
  background-position: center;
  padding: 0 8%;
  position: relative;
  border-bottom: 5px solid #03ab99;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .buttons {
  display: flex;
  list-style: none;
}

header .logo_img {
  width: 80px;
  height: 80px;
  margin-top: 6px;
}

.buttons li a {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  font-weight: 600;
  text-decoration: none;
  color: #141414;
  position: relative;
}

.buttons li a::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #03ab99;
  transition: 0.2s;
}

.buttons li a:hover::after {
  left: 0;
  width: 100%;
}

/* search bar */

.pesquisabutton {
  margin-top: 10px;
}

#search {
  background: #f3fafa;
  opacity: 0.3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 80%;
  margin: auto;
  float: left;
  padding: 8px;
  font-size: 15px;
  outline: none;
  border: 1px solid #000;
}

#buscar {
  width: 20%;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  padding: 9px;
  color: #fff;
  background: #03ab99;
  cursor: pointer;
  outline: none;
  border: none;
}

/* section cards*/

section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#section_cards {
  background: linear-gradient(145deg, #f3f4f7, #ecedf0);
}

.title_cards h1 {
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

.presentation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px 0;
}

.presentation_country {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 0;
}

.presentation .card {
  margin: 15px 0;
}

/* para os cards em desktop tela menor e/ou notebook */

@media (min-width: 1025px) {
  .presentation {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* footer */

footer {
  background: #022928;
  padding: 30px 80px;
  color: #f3fafa;
  border-top: 5px solid #03ab99;
}

footer p,
.teste {
  text-align: center;
  font-weight: 600;
}

footer p ion-icon {
  background: #272a2f;
  color: #fff;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  font-size: 26px;
  margin: 0 10px;
  margin-top: 20px;
  border-radius: 6px;
}

footer p a ion-icon:hover {
  background: #fff;
  color: #272a2f;
  transition: 0.5s;
  cursor: pointer;
}

/* section copyright */

.copyright {
  border-top: 1px solid #03ab99;
}

.copyright,
.copyright p {
  background: #272a2f;
  padding: 2px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

/* testes everson 
.teste {
  background-color: aqua;
  margin: 10px;
  color: orange;
  border-radius: 10px;
}

.teste   {
  background-color: blue;
}

.teste:focus {
  background-color: black;
}
*/

/* Tela posPost */

.exemplo-post {
  text-align: left;
}

.exemplo-post img {
  max-width: 500px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.exemplo-post fieldset {
  background-color: #d3d0d0;
}

.exemplo-post legend {
  text-align: left;
}

/* like button */

#like {
  background-color: #03ab99;
  font-size: 10px;
  border-style: none;
  border-radius: 10px;
  width: 30px;
  height: 20px;
}

#like:hover {
  background-color: #1a9b8e;
  border-style: none;
  border-radius: 10px;
}

#like:focus {
  background-color: #06665c;
  border-style: none;
  border-radius: 10px;
}