@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#main {
    background-image: url('reynisfjara.png');
}

.style_header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* vai deixar a imagem cobrindo a tela toda*/
    background-position: center;
    padding: 0 8%;
    position: relative;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .buttons {
    display: flex;
    list-style: none;
}

header .logo_img {
    width: 100px;
    height: 100px;
    margin-top: 6px;
}

.buttons li a {
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    font-weight: 500;
    text-decoration: none;
    color: #141414;
    position: relative;
}

.buttons li a::after {
    content: '';
    bottom: 0;
    position: absolute;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: #141414;
    transition: 0.2s;
}
  
.buttons li a:hover::after {
    left: 0;
    width: 100%;
}

section {
  height: 100vh;
  background: #bbb;
}